USE [master]
GO
if DB_ID('QLSanpham') is not null
	drop database QLSanpham
go
CREATE DATABASE [QLSanpham]
GO
 
USE [QLSanpham]
GO
 
CREATE TABLE [Danhmuc](
	[MaDanhmuc] [int] IDENTITY(1,1) NOT NULL Primary Key,
	[TenDanhmuc] [nvarchar](50) NOT NULL,
	[Mota] [nvarchar](100) NULL)
go	
  
  insert into Danhmuc values(N'Đèn phát sáng',N'Trang trí nhà cửa')
  insert into Danhmuc values(N'Đồ dùng nhà bếp',N'Vật dụng nấu ăn')

CREATE TABLE [Sanpham](
	[Mavd] [int] IDENTITY(1,1) NOT NULL Primary key,
	[Tenvd] [nvarchar](100) NOT NULL,
	[TenAnh] [nvarchar](250) NOT NULL,	
	[Mota] [nvarchar](250) NULL,	
	[Giatien] [decimal](18, 2) NOT NULL,
	[Soluong] [int],
	[MaDanhmuc] [int] NOT NULL foreign key references [Danhmuc]([MaDanhmuc]))

go
   
insert into [Sanpham] values(N'Đèn phát sáng mẫu 1','Den (1).jpg',N'Đèn phát sáng trang trí nhà đẹp',10,1000,1)
insert into [Sanpham] values(N'Đèn phát sáng mẫu 2','Den (2).jpg',N'Đèn phát sáng trang trí nhà đẹp',15,700,1)
insert into [Sanpham] values(N'Đèn phát sáng mẫu 3','Den (3).jpg',N'Đèn phát sáng trang trí nhà đẹp',10,1500,1)
 

/*
use master
go
drop database QLSanpham
go
*/
