
@{
    ViewBag.Title = "getCookie";
}

<h2>getCookie</h2>

<table border="1">
    <tr>
        <td>Mã Sinh Viên </td>
        <td>@ViewBag.maSV</td>
    </tr>
    <tr>
        <td>Họ Tên </td>
        <td>@ViewBag.hoTen</td>
    </tr>
    <tr>
        <td>Quê Quán </td>
        <td>@ViewBag.queQuan</td>
    </tr>
</table>