@model IEnumerable<DE01.Models.Phong>

@foreach(var item in Model)
{
    var url = "/nhanViens/nhanVienByPhong/" + item.Maphong;
    <a href="@url">@item.Tenphong</a>
    <label>&nbsp;|&nbsp;</label>
}

