@{
    ViewBag.Title = "Home Page";
}
<main>
    <button>@Html.ActionLink("Hiển thị", "Index", "ThongTinSinhVien")</button>
</main>

<style>
    button {
        padding: 16px;
        border-radius: 8px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
</style>